.trackserver-info {
	min-height: 28px;
	margin-top: 5px;
	padding: 0px 12px;
	background: #fff;
	border: 1px solid #2271b1;
	border-left-width: 4px;
	/*min-width: 70%;*/
	display: inline-block;
	font-size: 14px;
	line-height: 1.8571428;
	max-width: 80%;
	width: 80%;
}

.profile-content-grid {
	display: grid;
	grid-template-columns: 1fr 150px;
	grid-gap: 20px;
}

.leaflet-control-delete svg {
	padding-top: 6px;
}

.deletepoint {
	margin-bottom: 3px;
}

.tsadmin-table td {
	padding: 2px 30px 2px 0px;;
}

.map-profiles {
	width: 100%;
	table-layout: auto;
	border-spacing: 0;
	clear: both;
	margin: 0;
	border: 1px solid #c3c4c7;
	border-collapse: collapse;
}

.map-profiles thead {
	padding: 11px 0 0 3px;
	border: 1px solid #c3c4c7;
	text-align: left;
}

.map-profiles th,td {
	padding: 5px;
	border: 0;
}

.map-profiles textarea {
	width: 100%;
	min-width: 200px;
	height:100px;
	box-sizing: border-box;
}

#add-profile-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

#add-profile-result {
	padding: 3px 0px;
	background-color: green;
	color: white;
}
